[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
out/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
**/.vs/
**/.vscode/
[20:59] Tiago Gemelgo
    
# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs
